
{% extends 'base.html' %}
{% load static %}

{% block title %}Аукциони{% endblock %}

{% block content %}
    <div class="text-center">
        {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'auction-create' %}" class="custom-button custom-button-success"><i class="fas fa-gavel me-2"></i>Създай нов аукцион</a>
        {% endif %}

        <h2 class="text-center">Аукциони</h2>

{#    <div class="sort-options-container text-center">#}
{#        <label for="sort-by">Сортирай по:</label>#}
{#        <select id="sort-by" onchange="location = this.value;">#}
{#            <option value="{% url 'auction-list' %}" {% if current_sort == 'latest' %}selected{% endif %}>Най-нови</option>#}
{#            <option value="{% url 'auction-list' %}?sort_by=likes" {% if current_sort == 'likes' %}selected{% endif %}>Харесвания на снимката</option>#}
{#            <option value="{% url 'auction-list' %}?sort_by=rating" {% if current_sort == 'rating' %}selected{% endif %}>Рейтинг на снимката</option>#}
{#        </select>#}
{#    </div>#}

        {% for auction in auctions %}
            <div class="auction-grid-container">
                <div class="card-custom">
                        {% if auction.photo.image %}
                            <img src="{{ auction.photo.image.url }}" class="photo-display" alt="{{ auction.photo.caption|default:'Auction Photo' }}" onclick="window.location.href='{% url 'auction-detail' pk=auction.pk %}'" style="cursor: pointer;">
                        {% else %}
                            <img src="https://placehold.co/500x350/001535/D4ECFC?text=Няма+изображение" class="photo-display" alt="No image available">
                        {% endif %}
                    <div class="card-text-content">
                        <h3>Аукцион за <strong>{{ auction.photo.caption|default:'Снимка' }}</strong></h3>
                        <p class="text-muted small-text">
                            <i class="fas fa-camera me-1"></i> Автор: <a href="{% url 'user-profile-detail' pk=auction.photo.author.pk %}">{{ auction.photo.author.user.username }}</a>
                        </p>
                        <p class="auction-price">
                            Начална цена: <strong class="text-success">{{ auction.starting_bid|floatformat:2 }} лв.</strong>
                        </p>
                        <p class="auction-price">
                            Текуща най-висока оферта: <strong class="text-primary">{{ auction.current_highest_bid|floatformat:2 }} лв.</strong>
                        </p>
                        {% if auction.highest_bidder %}
                            <p class="small-text">
                                С най-висока оферта: <a href="{% url 'user-profile-detail' pk=auction.highest_bidder.photographer.pk %}">{{ auction.highest_bidder.username }}</a>
                            </p>
                        {% else %}
                            <p class="small-text">Няма оферти все още.</p>
                        {% endif %}
                        <p class="small-text">
                            <i class="fas fa-clock me-1"></i> Край на: {{ auction.end_time|date:"d M Y H:i" }}
                        </p>
                        <div class="text-center">
                            <a href="{% url 'auction-detail' pk=auction.pk %}" class="custom-button custom-button-info custom-button-small">Виж детайли и направи оферта.</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
                <p class="text-center">Все още няма активни аукциони.</p>
        {% endfor %}

        {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предишна</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предишна</a>
                        </li>
                    {% endif %}

                    {% for i in limited_page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следваща</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Следваща</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}