body {
    background-color: 002F5B;
    background-size: cover;
    position: relative;
    font-family: Montserrat;
    font-weight: 500;
    color: D4ECFC;
}
#band-logo {
    background-color: 004899;
    position: absolute;
    height: 30px;
}
img {
    width: 50px;
    
    margin: 5px;
    position: absolute;
    left: 210px;
}
#nav {
    background-color: 000000;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 40px;
    height: 30px;
    font-weight: 600px;
    padding: 3px;
}
#band-photo {
    background-color: 000000;
    font-size: 15px;
    position: absolute;
    top: 80px;
    height: 30px;
    font-weight: 400px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
}
.i {
    font-size: 10px;
    position: absolute;
    top: 80px;
    left: 5px;
    color: D4ECFC;
    width: 8px;
    height: 8px;
}
.rounded {
    position: absolute;
    text-align: center;
    top: 140px;
    left: 5px;
    width: 420px;
    height: 300px;
}
.form-control {
    background-color: D4ECFC;
    color: 002F5B;
    font-size: 11px;
    position: absolute;
    top: 450px;
    left: 10px;
    width: 400px;
    height: 10px;
    border-width: 0;
    border-radius: 2%;
}
label {
    position: absolute;
    top: 450px;
    left: 5px;
    color: 002F5B;
}
