body {
    background-color: #002F5B;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #D4ECFC;
}
a:link, :visited {
    color: #D4ECFC;
    text-decoration: none;
}
a:hover{
    color: #008999;
    text-decoration: none;
}

.band-logo {
    background-color: #004899;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
}
#logo {
    width: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.nav {
    background-color: #000000;
    font-size: 15px;
    font-weight: 700;
    margin: 5px auto;
    padding: 5px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.author {
    background-color: #000000;
    font-size: 15px;
    font-weight: 500;
    margin: 5px auto;
    padding: 5px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
#photo {
    margin: 5px auto;
    width: 420px;
    display: flex;
    justify-content: center;
}
.comm {
    background-color: #D4ECFC;
    color: #002F5B;
    font-size: 10px;
    font-style: italic;
    margin: auto 75px;
    width: 420px;
    height: 20px;
    border-radius: 5%;
}
