{% extends 'base.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="text-center">Вход</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-field">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <div class="help-text">{{ field.help_text }}</div>
                {% endif %}
                {% for error in field.errors %}
                    <div class="errorlist">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
            <div class="message-alert error">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="custom-button custom-button-primary full-width">Вход</button>
        <p class="text-center small-text">
            <a href="{% url 'password_reset' %}">Забравена парола?</a>
        </p>
    </form>
    <p class="text-center">
        Нямате акаунт? Регистрирайте се<a href="{% url 'register' %}"> тук</a>
    </p>
</div>
{% endblock %}
