body {
    background-color: #002F5B;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #D4ECFC;
}
a:link, :visited {
    color: #D4ECFC;
    text-decoration: none;
}
a:hover{
    color: #008999;
    text-decoration: none;
}

.band-logo {
    background-color: #002F5B;
    font-size: 30px;
    font-weight: bold;
    /*font-style: italic;*/
    /*margin: 5px;*/
    color: #008999;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 100px;
}
.nav {
    background-color: #000000;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}
/*.body {
    display: grid;
    grid-template: 150px / auto auto auto;
    grid-template-columns: repeat(3, 1fr);
}*/
.author {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}
.authory {
    background-color: #000000;
    font-size: 10px;
    font-weight: 700;
    width: 180px;
    margin: 20px auto 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.photo {
    margin: 0 auto;
    width: 180px;
    border-radius: 5px;
    display: flex;
}
.comm {
    background-color: #D4ECFC;
    color: #002F5B;
    font-size: 10px;
    font-style: italic;
    margin: auto 100px;
    padding: 0 5px;
    width: 120px;
    height: 15px;
    border-radius: 50px;
}
