.nav-links {
    background-color: #001535;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-links li {
    margin-bottom: 5px;
}

.nav-links li a i {
    color: #f8f6f6;
    text-decoration: none;
    font-size: 1.2em;
    vertical-align: middle;
    display: block;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: #004899;
    border-radius: 5px;
}

.pagination .step-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination .page-item .page-link {
    background-color: #0f3763;
    color: #ffffff;
    border: 1px solid #003f7f;
}

.pagination .page-item.active .page-link {
    background-color: #08458f;
    border-color: #004080;
}

.pagination .page-item.disabled .page-link {
    background-color: #003f7f;
    color: #6c757d;
}

.pagination .page-item .page-link:hover {
    background-color: #003f7f;
}