{% extends 'base.html' %}
{% load static %}
{% block title %}Търгове - Социална мрежа за Магнум фотография{% endblock %}

{% block content %}
  <h1>Търгове</h1>

  {% if auctions %}
    <ul>
      {% for auction in auctions %}
        <li>
          <h3><a href="{% url 'auction-detail' auction.id %}">{{ auction.title }}</a></h3>
          <p>Starting Price: {{ auction.start_price }}</p>
          <p>End Date: {{ auction.end_date }}</p>
          {# Add other relevant auction details #}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Няма отворени аукциони в момента.</p>
  {% endif %}
{% endblock %}