{% load static %}
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Профилна страница - социална мрежа за Магнум фотография{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <header>
        <div class="band-logo">
            <a href="{% url 'home' %}"><img id="logo" src="{% static 'images/infinity.png' %}" alt="logo"></a>
            <h1>Социална мрежа за Магнум фотография</h1>
        </div>
        <nav class="nav">
            <p><a href="{% url 'profil-details' %}">Профил</a></p>
            <p><a href="{% url 'group-details' %}">Групи</a></p>
            <p><a href="{% url 'article-details' %}">Статии</a></p>
            <p><a href="{% url 'auction-details' %}">Аукцион</a></p>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
        <!-- Footer -->
    <footer>
        <div>&copy; Social Magnum Photography Network</div>
    </footer>
      <!-- End Footer -->
</body>
</html>