<nav class="nav-links">
            <p><a href="{% url 'photo-home' %}">Начало</a></p>
            <p><a href="{% url 'article-list' %}">Статии</a></p>
            <p><a href="{% url 'auction-list' %}">Аукциони</a></p>
            <p><a href="{% url 'group-list' %}">Групи</a></p>

            {% if user.is_authenticated %}
                <p><a href="{% url 'user-profile' %}">Профил ({{ user.username }})</a></p>
                <p>
                    <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="custom-button">Изход</button>
                    </form>
                </p>
            {% else %}
                <p><a href="{% url 'login' %}">Вход</a></p>
                <p><a href="{% url 'register' %}">Регистрация</a></p>
            {% endif %}
        </nav>