{% extends 'profil/base.html' %}
{% load static %}
{% block title %}Profiles - Социална мрежа за Магнум фотография{% endblock %}

{% block content %}

    <h1>Profiles</h1>
{% for author in authors %}
<div>
    <div class="authory">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/></svg>
        <a href="{% url 'author_detail' author.id %}">{{ author.name }}</a>
        {% if author.groups.all %}
        <a href="{% url 'group_detail' author.groups.first.id %}">{{ author.groups.first.name }}</a>
        {% endif %}
    </div>
    <div>
        {% if author.profile_picture %}
        <img class="photo" src="{{ author.profile_picture.url }}" alt="{{ author.name }}">
        {% else %}
        <img class="photo" src="{% static 'images/default_profile.png' %}" alt="Default Profile">
        {% endif %}
    </div>
    <div>
        <input class="comm" type="comment"  placeholder="Type your comment here ...">
    </div>
</div>
{% endfor %}
<h2>Recent Photos</h2>
<div class="recent-photos">
{% for photo in recent_photos %}
<div>
    <img src="{{ photo.image.url }}" alt="{{ photo.caption }}">
    <p>{{ photo.caption|default:"No caption" }}</p>
    <p>By: <a href="{% url 'author_detail' photo.author.id %}">{{ photo.author.name }}</a></p>
</div>
{% empty %}
<p>No recent photos uploaded yet.</p>
{% endfor %}

{% endblock %}

