@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comforter+Brush&family=Great+Vibes&family=Marck+Script&display=swap');
body {
    background-color: #002F5B;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #D4ECFC;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #D4ECFC;
    text-decoration: none;
}

a {
    padding: 1px 1px;
    border: 5px solid transparent;
    box-sizing: border-box;
}

a:hover {
    color: #D4ECFC;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(167, 166, 166);
    background-color: #008999;
    font-weight: 300;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.margin-auto {
    margin: auto;
}

.text-center {
    margin: 10px auto;
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 48%;
}