.messages-container { margin-bottom: 20px; padding: 10px; }
.message-alert { max-width: 300px; padding: 10px 15px; margin-bottom: 10px; border-radius: 5px; font-weight: bold; }
.message-alert.success { background-color: #4CAF50; color: white; }
.message-alert.error { background-color: #f44336; color: white; }
.message-alert.warning { background-color: #ff9800; color: white; }
.message-alert.info { background-color: #2196F3; color: white; }

.content-section {
    padding: 20px;
    background-color: rgba(0, 21, 53, 0.7);
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.form-container, .card-custom {
    background-color: rgba(0, 21, 53, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    max-width: 600px;
    width: 700px;
    overflow: hidden;
}

.card-img-top { max-width: 100%; height: auto; border-radius: 10px; display: block; margin-bottom: 20px; }
.card-body { padding: 0; color: #D4ECFC; }
.card-title { margin-top: 0; margin-bottom: 15px; }
.card-body p { margin-bottom: 10px; }
.card-body p:last-of-type { margin-bottom: 10px; }
.card-body .btn { margin-top: 5px; }
.article-content { background-color: rgba(0, 21, 53, 0.5); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); margin: 40px auto; }
.actions-right { display: inline-block; }
.photo-item, .card {
    align-items: center;
    margin: 0 auto 20px auto;
    max-width: 500px;
    background-color: rgba(0, 21, 53, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

img.photo-display { max-width: 100%; height: auto; display: block; border-radius: 5px; margin: 0 auto 10px auto; }
.photo-display-large { max-width: 100%; height: auto; display: block; margin: 0 auto; }
.photo-display-large.enlarged {
    max-width: 50%;
    transform: scale(1.5);
    transition: transform 0.3s ease;
    border: #f7f8d9 solid 1px;
    cursor: pointer;
    z-index: 10;
    position: fixed;
    left: 25%;
    top: 20%;
}
.full-image-container { display: flex; justify-content: center; align-items: center; max-width: 100%; max-height: 80vh; margin: 20px auto; padding: 0; overflow: hidden; }
.full-photo { max-width: 100%; max-height: 100%; width: auto; height: auto; object-fit: contain; }
.photo-link { display: block; line-height: 0; }
.card-text-content { padding: 15px; padding-top: 0; color: #D4ECFC; }
.profile-picture-large { max-width: 100px; border: #1f6acd double 3px; border-radius: 50%; }
.author { display: grid; justify-items: center; }