{% extends 'base.html' %}
{% load static %}

{% block title %}Снимка: {{ photo.caption|default:'Без Заглавие' }}{% endblock %}

{% block content %}
<div class="two-column-layout">
    <div class="main-content-column">
        <div class="card-custom large-card">
            {% if photo.image %}
                <img src="{{ photo.image.url }}" class="photo-display-large" alt="{{ photo.caption|default:'Photo' }}" style="cursor: pointer;">
            {% else %}
                <img src="https://placehold.co/800x600/001535/D4ECFC?text=Няма+изображение" class="photo-display-large" alt="No image available">
            {% endif %}
            <div class="card-text-content">
                <h3>{{ photo.caption|default:'Без Заглавие' }}</h3>
                <p class="text-muted small-text">
                    <i class="fas fa-camera me-1"></i> Автор: <a href="{% url 'user-profile-detail' pk=photo.author.pk %}">{{ photo.author.user.username }}</a>
                </p>
                <p class="text-muted small-text">
                    Качена на: {{ photo.uploaded_at|date:"d M Y H:i" }}
                </p>
                <p class="text-muted small-text">
                EXIF данни:
                    {% if exif_data %}
                    <ul>
                        {% for key, value in exif_data.items %}
                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        Няма налични.
                    {% endif %}

                {% if photo.group %}
                    <p class="text-muted small-text">
                        <i class="fas fa-users me-1"></i> Група: <a href="{% url 'group-detail' pk=photo.group.pk %}">{{ photo.group.name }}</a>
                    </p>
                {% endif %}

                <hr class="custom-hr">

                <div class="form-field inline-form-field">
                    <div>
                        {% if form.can_like_or_rate %}
                            <form method="POST" action="{% if form.has_liked %}{% url 'photo-unlike' pk=photo.pk %}{% else %}{% url 'photo-like' pk=photo.pk %}{% endif %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="icon-like-toggle">
                                    <i class="{% if form.has_liked %}fas fa-thumbs-up{% else %}far fa-thumbs-up{% endif %}"></i>
                                </button>
                            </form>
                            <span class="like-count">{{ photo.likes.count }}</span>
                        {% else %}
                            <button class="icon-button icon-disabled" disabled>
                                <i class="far fa-thumbs-up"></i>
                            </button>
                            <span class="like-count">{{ photo.likes.count }}</span>
                            <a href="{% url 'login' %}" class="custom-button">Влезте, за да харесате</a>
                        {% endif %}
                    </div>
{#                    <hr class="custom-hr">#}
                    <div>
                        {% if form.can_like_or_rate %}
                            {% if form.has_rated %}
                                <span class="small-text">Вашата оценка:</span>
                                <span class="icon-button icon-rate"><i class="bi bi-star-fill"></i></span>
                                <span class="custom-badge custom-badge-success"><i></i> {{ form.user_rating.score }}</span>
                            {% else %}
                                <form method="POST" action="{% url 'photo-rate' pk=photo.pk %}" class="d-inline">
                                    {% csrf_token %}
                                    <span class="small-text">Оцени:</span>
                                    <select name="score" class="custom-select custom-select-small">
                                        {% for i in "12345"|make_list %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="icon-button icon-rate"><i class="bi bi-star"></i></button>
                                </form>
                            {% endif %}
                        {% else %}
                            <button type="button" class="icon-button icon-disabled" disabled><i class="bi bi-star"></i></button>
                            <span class="rating-count">{{ photo.ratings.count }}</span>
                            <a href="{% url 'login' %}" class="custom-button">Влезте, за да оцените</a>
                        {% endif %}
                    </div>
                </div>

                {% if form.can_edit_delete %}
                    <div class="text-center actions-right">
                        <a href="{% url 'photo-edit' pk=photo.pk %}" class="custom-button custom-button-warning"><i class="fas fa-edit me-1"></i>Редактирай снимката</a>
                        <a href="{% url 'photo-delete' pk=photo.pk %}" class="custom-button custom-button-danger"><i class="fas fa-trash-alt me-1"></i>Изтрий снимката</a>
                    </div>
                {% endif %}
            </div>
            <div class="text-center margin-top-large">
                <a href="{% url 'photo-home' %}" class="custom-button custom-button-primary">
                    <i class="fas fa-arrow-left me-2"></i>Към всички снимки.
                </a>
            </div>
        </div>
    </div>

    <div class="side-column">
        <div class="card-custom">
            <h4>Коментари ({{ comments.count }})</h4>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'photo-comment' pk=photo.pk %}">
                    {% csrf_token %}
                    <div class="form-field">
                        {{ comment_form.text.label_tag }}
                        {{ comment_form.text }}
                        {% for error in comment_form.text.errors %}
                            <div class="errorlist">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% if comment_form.non_field_errors %}
                        <div class="message-alert error">
                            {% for error in comment_form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button type="submit" class="custom-button custom-button-success full-width">Добави коментар</button>
                </form>
            {% else %}
                <div class="text-center">
                    <a href="{% url 'login' %}" class="custom-button small-text">Влезте, за да добавяте коментари.</a>
                </div>
            {% endif %}

            {% if comments %}
                <ul class="simple-list comment-list">
                    {% for comment in comments %}
                        <li>
                            <p>
                                <i class="fas fa-user-circle me-1"></i>
                                <strong><a href="{% url 'user-profile-detail' pk=comment.user.photographer.pk %}">{{ comment.user.username }}</a>:</strong>
                                {{ comment.text }}
                            </p>
                            <small class="text-muted">{{ comment.created_at|date:"d M Y H:i" }}</small>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center">Все още няма коментари.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}