{% extends 'base.html' %}
{% load static %}

{% block title %}Качи снимка{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="text-center">Качи нова снимка</h2>
    {% if not user.photographer %}
        <div class="message-alert warning text-center">
            Моля, <a href="{% url 'user-profile-create' %}" class="alert-link">създайте профил на фотограф</a>, за да можете да качвате снимки.
        </div>
    {% else %}
        <form method="POST" action="{% url 'photo-create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <div class="help-text">{{ field.help_text }}</div>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="errorlist">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="message-alert error">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <button type="submit" class="custom-button custom-button-primary full-width" id="upload-button">Качи снимка</button>
        </form>
        <script>
            document.getElementById('upload-button').addEventListener('click', function() {console.log('Upload button clicked');});
        </script>
    {% endif %}
</div>
{% endblock %}