{% extends 'base.html' %}
{% block title %}Начало - Магнум Фотография{% endblock %}
{% block content %}
<div class="text-center">
    {% if user.is_authenticated %}
        <a href="{% url 'photo-create' %}" class="custom-button custom-button-success"><i class="fas fa-camera me-2"></i>Качи снимка</a>
    {% endif %}
    <h2 class="text-center">Най-нови снимки</h2>

    {% for photo in photos %}
        <div class="photo-grid-container">
            <div class="card-custom">
                <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.caption|default:'Снимка' }}" onclick="window.location.href='{% url 'photo-detail' pk=photo.pk %}'" style="cursor: pointer;">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ photo.caption|default:'Без заглавие' }}</strong></h5>
                    <p class="card-text">Автор: <a href="{% url 'user-profile-detail' pk=photo.author.pk %}">{{ photo.author.user.username }}</a></p>
                    <p class="card-text">Качено на: {{ photo.uploaded_at|date:"d.m.Y H:i" }}</p>
                    <a href="{% url 'photo-detail' pk=photo.pk %}" class="btn btn-primary">Виж детайли</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Няма налични снимки.</p>
    {% endfor %}
</div>
{% endblock %}
