{% extends 'base.html' %}
{% load static %}

{% block title %}Изтрий профил на фотограф{% endblock %}

{% block content %}
<div class="form-container text-center">
    <h2 class="text-danger">Изтрий профила на фотографа</h2>
    <p class="lead-text">Сигурни ли сте, че искате да изтриете профила на фотограф за потребител <strong>"{{ photographer.user.username }}"</strong>?</p>
    <p class="text-muted">Това действие е необратимо и ще изтрие всички свързани снимки и статии.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="custom-button custom-button-danger">Да, изтрий</button>
        <a href="{% url 'users-profile-detail' pk=photographer.pk %}" class="custom-button custom-button-secondary">Откажи</a>
    </form>
</div>
{% endblock %}