{% extends 'base.html' %}
{% load static %}

{% block title %}Създай профил на фотограф{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="text-center">Създай профила на фотографа</h2>
    <form method="POST" action="{% url 'user-profile-create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-field">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <div class="help-text">{{ field.help_text }}</div>
                {% endif %}
                {% for error in field.errors %}
                    <div class="errorlist">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
            <div class="message-alert error">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="custom-button custom-button-primary full-width">Създай профила</button>
    </form>
</div>
{% endblock %}